*{
    box-sizing: border-box;

}
.main{
    width: 1300px;
}
img{
    max-width: 100%;
}
.heading{
    background-color: #e7e6e6;
}
.menu{
    text-align: center;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: 4px 26px;
    font-weight: 700;
    color: #111;
    display: block;
}
.menu ul li a::after {
    content: "";
    position: absolute;
    top: 181%;
    left: 23px;
    width: 70px;
    height: 2px;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.menu ul li:hover > a::after{
    visibility: visible;
    opacity: 1;
}

/* drop-dwon menu */

.menu ul li{}
.menu ul li ul {
    position: absolute;
    top: 190%;
    left: 8px;
    width: 124px;
    background-color: blue;
    padding: 0;
    box-sizing: border-box;
    display: block;
    border: 12px solid #ffff;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.menu ul li ul li{
    display: block;
}
.menu ul li ul li a {
    display: inline-block;
    padding: 11px 0px;
    font-size: 12px;
    font-weight: 200;
    color: white ! important;
}
.menu ul li:hover > ul{
    visibility: visible;
    opacity: 1;
}


.menu ul li ul li:hover > a::after{
    visibility: hidden;
    opacity: 0;
}

.buttun {
    margin-left: 13%;
}
.buttun a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 37px;
    color: blueviolet;
    background-color: #ffffff;
    border-radius: 24px;
    font-size: 15px;
    font-weight: 800;
    position: relative;
    z-index: 1;
    transition: 8s;
}
.buttun a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 24px;
    background-color: #a29bfe;
    z-index: -1;
}
.buttun:hover a::after{
    width: 100%;
    left: 0;
    color: white !important;
}
/* heading-section end */

/* banner section */

.banner{
    background-color: #edf6ff;
    
}
.banner-text{
    padding: 17% 0;
}
.banner-text p {
    color: #788088 !important;
    padding: 4% 0;
    line-height: 1.3rem;
}
.banner-text h1{

}
.banner-text p{
    color: #788088;
}

.banner-img {
    background-image: url("https://i.postimg.cc/gcN8khm5/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    border-radius: 170px 0px 191px 212px;
    height: 475px;
    width: 100%;
    margin-left: 20%;
}

.buttun-two a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 37px;
    color: white;
    background-color: blue;
    border-radius: 24px;
    font-size: 15px;
    font-weight: 800;
    position: relative;
    z-index: 1;
    transition: 8s;
}
.buttun-two a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 24px;
    background-color: #a29bfe;
    z-index: -1;
}
.buttun-two:hover a::after{
    width: 100%;
    left: 0;
    color: white !important;
}
/* banner-section-end */

.tools-text{
    padding-top: 13px;
}
.tools-text p{
    color: #a29bfe;
}
.tools-text h1 {
    position: relative;
    padding: 13px 0px;
}
.hhh {
    padding-bottom: 30px;
    padding-top: 4px;
}

.tools-text h1::after {
    content: "";
    position: absolute;
    top: 112px;
    left: 0;
    height: 3px;
    width: 100px;
    background-color: #a29bfe;
}


.tool-section{
    position: relative;
}




.tool-slaid{
    display: flex;
    position: relative;
   
 }
 .image-tools {
    position: absolute;
    top: 35px;
    left: -47px;
    z-index: -1;
}

.card-title {
    padding-top: 11px;
    padding-left: 10px;
}

.i-img {
    padding: 13px 13px;
    background-color: #6c5ce7;
    border-radius: 25px 22px 28px 0px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.i-img::after {
    content: "";
    position: absolute;
    top: 68px;
    left: 0;
    height: 3px;
    width: 45px;
    background-color: #a29bfe;
}
.i-img::before {
    content: "";
    position: absolute;
    top: 68px;
    left: 0;
    height: 3px;
    width: 55px;
    background-color: #a29bfe;
    visibility: hidden;
    opacity: 0;
}

.card {
    width: 20rem;
    box-shadow: 1px 1px 4px 2px #dddd;
}
.card:hover{
    background-color: blue;
    color: white !important;
}
.card:hover .i-img{
    background-color: #b2bec3;
   
}

.card:hover .i-img::before{
    background-color: #dfe6e9;
    visibility: visible;
    opacity: 1;
}
.card:hover .i-img::after{
    visibility: hidden;
    opacity: 0;
}
/* tools section-end */
.creat-section{
    
}
 .creat{
    background-image: url("https://i.postimg.cc/Wzvf0yH8/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: 500px;
    position: relative;
    z-index: 1;
} 
.creat-text{
    text-align: center;
    padding-top: 14%;
    color: #ffffff;
}
.creat::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(90, 90, 137);
    opacity: .6;
    z-index: -1;

}

/* creat-section end */

.play{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    position: relative;
    
}

.play-icon {
    background-color: #ffffff;
    font-size: 23px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    text-align: center;
  
}

.play-icon::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 616px;
    width: 39px;
    height: 39px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    animation: justplay .5s ease-out infinite;
}

@keyframes justplay{

    0%{
        transform: scale(1);
        opacity: 1;
    }
    25%{
        transform: scale(1.2);
        opacity: .8;
    }
    50%{
        transform: scale(1.5);
        opacity: .5;
    }
    75%{
        transform: scale(1.8);
        opacity: .2;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
